.containerFilters {
    width: 23.79%;
    border: 1px solid #0000001A;
    border-radius: 20px;
    padding: 20px 24px;
    box-sizing: border-box;
}

.filterTitle {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}