.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 100px;
    box-sizing: border-box;
    margin-top: 24px;
}

.categoryArea {
    width: 100%;
    display: flex;
    gap: 20px;
}

.containerFilters {
    width: 23.79%;
}

.containerAllClothes {
    width: 74.6%;
}

.cardsContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    height: 1212px;
}

.bottomBar {
    width: 100%;
    max-width: 1440px;
    margin-top: 24px;
    border-bottom: #0000001A 1px solid;
}